@font-face {
    font-family: Glametrix;
    src: url('/fonts/Glametrix.otf');
}

@font-face {
    font-family: GeomLight;
    src: url('/fonts/Geom Light.ttf');
}

.box {
    color: rgb(105, 105, 105);
    background: linear-gradient(90deg, rgb(207, 254, 255) 0%, rgb(175, 208, 255) 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
    padding: 2px 16px;
    margin-bottom: 4px;
    font-family: GeomLight;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.box2 {
    color: white;
    background: rgb(25, 25, 112);
    border-radius: 20px;
    padding: 2px 16px;
    margin-bottom: 4px;
    justify-content: space-between;
    align-items: center;
    font-family: GeomLight;
    display: flex;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.box:hover {
    background: linear-gradient(90deg, rgba(255, 254, 255, 1) 0%, rgba(215, 218, 255, 1) 100%);
}

.box2:hover {
    background: linear-gradient(90deg, rgba(25, 25, 112, 0.8) 0% 0%, rgba(25, 38, 155, 0.8) 100%);
}

.container {
    width: 45%;
    float: left;
    margin: 10px;
}

.containerRight {
    width: 50%;
    position: fixed;
    right: 2px;
    top: 0px;
    height: 100vh;
    overflow-y: auto;

}

.topFlexBox {
    display: flex;
    justify-content: space-around;
    /* border: rgb(1, 1, 1) solid 2px; */
}

.flexRight {
    flex: 1;
    /* border-radius: 20px; */
    font-size: larger;
    margin: 8px;
    padding: 8px;
    padding-left: 40px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* border: rgb(236, 0, 0) solid 2px; */

}

.ects {
    position: sticky;
    font-size: 3.3em;
    margin: 20px;
    /* width: 70%; */
    flex: 1;
    /* border: rgb(236, 0, 0) solid 2px; */

}

.ects2 {
    font-size: 24px;
    /* width: 70%; */
    margin: 20px;
    /* border: rgb(208, 20, 20) solid 2px; */
}

.ectsPassed {
    margin: 30px;
    width: 320px;
    /* border: rgb(255, 0, 0) solid 2px; */
}


.additionContainer {
    font-size: 14px;
    margin-left: 70px;
    margin-right: 20px;
    margin-bottom: 6px;
}

.additionEcts {
    width: 10%;
    font-size: 16px;
    text-align: right;
}

.additionName {
    float: right;
    white-space: nowrap;
    width: 85%;

    height: 20px;
    overflow-x: hidden;
}

.result1Left {
    margin-left: 70px;
    margin-right: 20px;
    font-size: 20px;
    width: 8%;
    text-align: right;
    float: left;

}

.result1Right {
    font-size: 16px;
    width: 65%;
    overflow-x: hidden;
}

.line {
    margin-top: -20px;
}


.smiley {
    width: 100%;
    margin: auto;
}

.calendarIcon {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: var(--cornerDist);
    right: var(--cornerDist);
    z-index: 3;
}


.semesterContainer {
    background: lightskyblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 7px;


}

.semesterTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px;
    margin-bottom: 7px;
    font-size: 26px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}


.mandatory {
    color: rgb(255, 46, 46);
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
}

.semesterSelected {
    background: green;
    width: 22px;
    height: 22px;
    border-radius: 6px;
}

.semesterUnselected {
    background: white;
    width: 22px;
    height: 22px;
    border-radius: 6px;
}

.semesterCheck {
    background: rgb(215, 237, 255);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    width: 22px;
    height: 22px;
    border-radius: 6px;
    color: black;
}

.credits {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

@media (min-width:550px) and (max-width: 850px) {
    .ects {
        font-size: 2.2em;
    }

    .ects2 {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .container {
        width: 100%;
        float: left;
        margin: 8px;
    }

    .ects {
        font-size: 1em;
    }

    .ects2 {
        font-size: 10px;
    }

    .containerRight {
        width: 50%;
        background: rgba(255, 255, 255, 0.623);
        border: 4px rgba(255, 255, 255, 0.374) solid;
        border-radius: 12px;
        position: fixed;
        right: 2px;
        top: 30px;
    }

    .additionContainer {
        width: 80%;
        right: 0px;
        margin: 0px;
    }
}

.ylika {
    background-image: url("/30325.svg"), linear-gradient(90deg, rgb(207, 254, 255) 0%, rgb(175, 208, 255) 100%);
    background-size: 33px, 100%;
}