.calendarIcon {
    font-size: 60px;
    width: 60px;
    height: 60px;
    position: fixed;
    top: var(--cornerDist);
    right: var(--cornerDist);
    z-index: 3;
}

.gridContainer {
    margin: 20px;
    margin-top: 38px;
    margin-right: 120px;
    /* margin-bottom: 0px; */
    /* background-color: rgb(118, 73, 152); */
}

.grid {
    display: grid;
    grid-template-columns: 100px repeat(5, 1fr);
    grid-template-rows: 40px repeat(12, 40px);
    grid-gap: 6px;
}


.cell {
    background-color: #c5bfbf;
    border-radius: 4px;
    text-align: center;
}

.cellStart {
    background-color: #be1717;
    border-radius: 4px;
    text-align: center;
}