@font-face {
    font-family: GeomLight;
    src: url('/fonts/Geom Light.ttf');
}


.calendarIcon {
    font-size: 60px;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: var(--cornerDist);
    right: var(--cornerDist);
    z-index: 3;
}

.gridContainer {
    margin: 16px;
    /* background-color: rgb(0, 0, 0); */
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: 110px repeat(5, var(--gWidth));
    grid-template-rows: 40px repeat(12, 40px);
    grid-gap: 4px;
    font-size: 20px;
}


.cell {
    /* background-color: #c5bfbf; */
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cellStartTop {
    background-color: #be1717;
    color: antiquewhite;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #0000002d 2px 2px 4px;
}


.cellStartLeft {
    background-color: #be1717;
    color: antiquewhite;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: #0000002d 2px 2px 4px;
}

.flixBox {
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    text-align: center;
    display: flex;
    gap: 4px;
    width: var(--gWidth);
}

.flixItem {
    display: flex;
    /* background-color: rgb(255, 251, 225); */
    flex: 1;
    border-radius: 3px;
    /* font-size: 15px; */
    font-size: 1vw;
    align-items: center;
    flex-basis: 80%;
    justify-content: center;
    box-shadow: #0000002d 2px 2px 4px;
    /* overflow-x: hidden; */
    /* white-space: nowrap; */
    padding: 2px;
}



.printButton {
    width: 200px;
    height: 50px;
    /* margin-left: 20px; */
    border-radius: 30px;
    border: 0px;
    background: #be1717;
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 20px;
    left: 30px;
}

.color {
    background-color: rgb(255, 255, 255);
}

.colorHY {
    background-color: rgb(248, 203, 173);
}

.colorKazino {
    background-color: rgb(226, 239, 218);

}

.colorPanagoyli {
    background-color: rgb(255, 255, 0);
}

.colorB12 {
    background-color: rgb(185, 215, 238);
}

.colorB13 {
    background-color: rgb(169, 208, 142);
}

.colorAmfi {
    background-color: rgb(255, 204, 0);
}

.colorHover {
    /* background-color: rgb(255, 255, 255); */
    border: dashed rgba(0, 0, 0, 0.267) 2px;
}

.roomGrid {
    visibility: hidden;
    position: fixed;
    bottom: 0px;
    right: 30px;
    display: flex;
    width: 600px;
    height: 45px;
    gap: 5px;

}

.roomItem {
    flex: 1;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 0;
    border-radius: 10px;
}

.roomItemSmall {
    font-size: 8px;
}

.bigContainer {
    display: flex;
}

.sideList {
    background-color: #be1717;
    flex: 1;
    height: 60%;
    width: 10%;
    border-radius: 20px 0px 0px 20px;
    padding: 20px 10px;
    /* margin-top: 4px; */
    /* margin-bottom: 4px; */
}

.sideListTitle {
    /* background-color: blue; */
    color: white;
    font-size: 20px;
}

.sideListContainer {
    background-color: white;
    height: 80vh;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: auto;
}

.sideListItem {
    background-color: rgb(228, 206, 206);
    display: flex;
}

.sideListItemSelected {
    background-color: rgb(223, 45, 45);
    display: flex;
}

.sideListLeft {
    width: 80%;
    font-size: 16px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    padding: 12px 6px;
    margin: auto;
}

.sideListRight {
    padding: 0px 0px;
    margin: auto;
}

.sideListIcon {
    /* background-color: aqua; */
    width: 40px;
    height: 40px;

}

@media print {

    .printButton,
    .calendarIcon {
        visibility: hidden;
        position: fixed;
        top: 0px;
    }

    .grid {
        margin: 4px;
        grid-template-rows: 40px repeat(12, 46px);
    }


    .roomGrid {
        visibility: visible;
    }

    .sideList {
        visibility: hidden;
        width: 0px;
        top: 0px;
        height: 0px;
        position: fixed;
    }

    @page {
        size: landscape
    }


}